<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e9e2e74c-7e6a-4c3d-82c9-cddc34c505c2/resourceGroups/ProjectDemo/providers/Microsoft.Web/sites/LabCalendarDemo</ResourceId>
    <ResourceGroup>ProjectDemo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://labcalendardemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>labcalendardemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LabCalendarDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LabCalendarDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LabContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:projectdemo2.database.windows.net,1433;Initial Catalog=LabCalendarDemo;User ID=kflili@projectdemo2.database.windows.net;Password=D323113ab" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LabCalendar.DAL.LabContext, LabCalendar" MigrationConfiguration="LabCalendar.Migrations.Configuration, LabCalendar" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LabContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projectdemo2.database.windows.net,1433;Initial Catalog=LabCalendarDemo;User ID=kflili@projectdemo2.database.windows.net;Password=D323113ab</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LabContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projectdemo2.database.windows.net,1433;Initial Catalog=LabCalendarDemo;User ID=kflili@projectdemo2.database.windows.net;Password=D323113ab</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LabContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projectdemo2.database.windows.net,1433;Initial Catalog=LabCalendarDemo;User Id=kflili@projectdemo2.database.windows.net;Password=D323113ab;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>