
@{
    ViewBag.Title = "Index";
}

<h3>
    Instructions:
    <button id="btnInstruction" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-book"></span> Click here!
    </button>
</h3>
<div id="eventInstruction" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Instructions</h4>
            </div>
            <div class="modal-body">
                <div id="instructionDetails">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <b>New Booking:</b>  Click on empty area for adding.
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <b>Check Detail:</b>  Click on a booking event to check it.
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <b>Quick Change:</b>  Drag a booking event and drop it in another slot.
                        </li>
                        <li class="list-group-item list-group-item-danger">
                            <b>Edit/Delete:</b>  Click on a booking event and select edit or delete.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="calendar"></div>

<div id="eventModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="eventDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="eventSaveModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Event</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked ="checked" />  Is Full Day Event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        @*<select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="yellow">Yellow</option>
                            <option value="orange">Orange</option>
                            <option value="black">Black</option>
                        </select>*@
                        @*<input id="ddThemeColor" type="text" class="form-control" value="#5367ce" />*@
                        <div id="cp1" data-format="alias" class="input-group colorpicker-component">
                            <input id="ddThemeColor" type="text" value="#378006" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.min.css" rel="stylesheet" />

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Scripts/moment-timezone-with-data-2012-2022.min.js"></script>
    <script>
        $(document).ready(function (events) {
            var events = [];
            var selectedEvent = null;
            var userZone = moment.tz.guess();

            FetchEventAndRenderCalendar();

            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    method: "GET",
                    url: "/home/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            //var t = v.Start;
                            //console.log("Json data version of utc-time t from azure: " + t);
                            //console.log("moment(t).toString(): " + moment(t).toString());
                            //console.log("moment(t).format(): " + moment(t).format());
                            //console.log("moment(t).toISOString(): " + moment(t).toISOString());
                            //console.log("moment.tz(t, userZone).format(): " + moment.tz(t, userZone).format());
                            //console.log("moment.tz(t, userZone).toISOString(): " + moment.tz(t, userZone).toISOString());
                            events.push({
                                eventID: v.EventID,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay
                            });
                        });
                        
                        GenerateCalendar(events);
                    },
                    error: function (error) {
                        alert("failed");
                    }
                });

            }

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 420,
                    // hide the all day slot in agenda view
                    //allDaySlot: false,
                    defaultDate: new Date(),
                    // scroll time range in agenda view
                    //minTime: "07:00:00",
                    //maxTime: "20:00:00",
                    // show start and end time in event content
                    displayEventTime: true,
                    displayEventEnd: true,

                    businessHours: {
                        // days of week. an array of zero-based day of week integers (0=Sunday)
                        dow: [1, 2, 3, 4, 5], // Monday - Thursday

                        start: '08:00', // a start time (8am in this example)
                        end: '18:00', // an end time (6pm in this example)
                    },
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventRender: function (event, element) {
                        element.find('.fc-title').append("<br/>" + event.description);
                    }, 
                    eventClick: function (callEvent, jsEvent, view) {
                        selectedEvent = callEvent;
                        // add event title in the modal
                        $('#eventModal #eventTitle').text("User:  " + callEvent.title);
                        // add event details in the modal

                        var $start = $('<p>').html('<b>Start:</b>  ' + callEvent.start.format("YYYY-MM-DD h:mm a"));
                        var $end = null;
                        if (callEvent.end != null) {
                            $end = $('<p>').html('<b>End:</b>  ' + callEvent.end.format("YYYY-MM-DD h:mm a"));
                        }
                        else {
                            $end = $('<p>').html('<b>End:</b>  this will take the whole day.');
                        }
                        var $description = $('<p>').html('<b>Description:</b>  ' + callEvent.description);
                        $('#eventModal #eventDetails').empty().append($start, $end, $description);
                        // show the modal
                        $('#eventModal').modal();
                    },
                    // for select date to create new event
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            color: '',
                            allDay: false
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    // for drag and drop event to another day
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            EventID: event.eventID,
                            Subject: event.title,
                            // test for check event value 
                            // var t = event.start;
                            // console.log("drag and drop Start: " + t.format());
                            // drag from 17 to 18 
                            // start time is "2017-08-17T08:00:00" to "2017-08-17T08:00:00"
                            Start: moment.tz(event.start, userZone).toISOString(),
                            End: event.end != null ? moment.tz(event.end, userZone).toISOString() : null,
                            Description: event.description,
                            ThemeColor: event.color,
                            IsFullDay: event.allDay
                        };
                        
                        //SaveEvent(data);
                    }
                })
            };

            $('#btnEdit').click(function () {
                openAddEditForm();
            });

            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        method: "POST",
                        url: '/home/DeleteEvent',
                        data: { 'eventID': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                // Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#eventModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed to delete');
                        }
                    })
                }
            });

            $('#dtp1, #dtp2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
            });

            $('#cp1').colorpicker();

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            })

            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format("YYYY-MM-DD HH:mm"));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end == null ? '' : selectedEvent.end.format("YYYY-MM-DD HH:mm"));
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#eventModal').modal('hide');
                $('#eventSaveModal').modal();
            }

            $('#btnInstruction').click(function () {
                openInstruction();
            });

            function openInstruction() {
                $('#eventInstruction').modal();
            }
            

            $('#btnSave').click(function () {
                // validation
                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                else {

                    //console.log("user input: " + $('#txtStart').val());
                    //console.log("user timezone: " + userZone);
                    var startDate = moment.tz($('#txtStart').val(), userZone).toISOString();
                    var endDate = moment.tz($('#txtEnd').val(), userZone).toISOString();
                    if (startDate > endDate) {
                        alert("End date can not be early than Start date.");
                        return;
                    }
                    //console.log("local time in user's mind: " + moment.tz($('#txtStart').val(), userZone).format());
                    //console.log("UTC time to save to Azure: " + startDate);

                }

                // call function for submit data to the server
                var data = {
                    EventID: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: startDate,
                    End: $('#chkIsFullDay').is(':checked') ? null : endDate,
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked')
                };

                SaveEvent(data);
                
            })

            function SaveEvent(data) {
                $.ajax({
                    method: "POST",
                    url: '/home/SaveEvents',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            // Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#eventSaveModal').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed to save');
                    }
                })
            }
        })
    </script>
}